.order_sum_input_div{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
}
.order_sum_input{
    border: 1px solid rgb(199, 197, 197)!important;
    border-radius: 3px;
    padding: 3px;
}
.order_sum_input:focus{
 
    outline: none;
    
}
@media (min-width:768px){
    .order_sum_div{
    /* height: 32rem; */
}
}
@media (min-width:992px){
    .order_sum_div{
    /* height: 26rem; */
}
}

.order_sum_btn{
    background-color: rgb(255, 40, 111)!important;
    color: white!important;
    border-radius: 1px!important;
}
.order_sum_div h5{
    color: black;
    font-weight: bold;
}
.order_sum_dark span{
    color: black;
    font-weight: bold;
    font-size: 14px!important;
}
.order_sum_select{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 12rem!important;
}
.order_sum_select p{
    margin-top: 0px;
    font-size: 13px;
    font-weight: 300;
    color: black;
    margin-bottom: 0px;
    


}